@import 'mixin.scss';

.container-triangle {
    position: relative;
    width: 100% !important;
    height: 100% !important;
    @include flex('flex_1');
}

.triangle_style {
    top: 50%;
    left: 1.7%;
    width: 3em;
    height: 7em;
    bottom: 50%;
    padding: .25em;
    position: absolute;
    border-radius: .5em;
    @include flex('flex_6');
    transform: translateY(-50%);
    background-color: rgb(54, 57, 60);

    .triangle_op_style {
        width: 3em;
        height: 2.5em;
        cursor: pointer;
        // position: relative;
        border-radius: .25em;
        @include flex('flex_1');

        &:hover {
            background-color: rgba(244, 244, 244, 0.216) !important;

            .triangle_op_title {
                opacity: 1 !important;
                width: 10em !important;
            }
        }
    }

    .triangle_op_selected {
        background-color: rgba(33, 37, 41) !important;

        &:hover {
            background-color: rgba(33, 37, 41, 0.517) !important;
        }
    }

    .triangle_op_title {
        width: 0;
        left: 137%;
        opacity: 0;
        overflow: hidden;
        text-wrap: nowrap;
        position: absolute;
        padding: .5em .7em;
        border-radius: .5em;
        @include space('m0');
        background-color: rgb(24, 28, 31);
    }
}

.triangle_options {
    top: .7em;
    right: 7em;
    width: 14em;
    z-index: 10;
    height: 2.2em;
    padding: .25em;
    position: absolute;
    border-radius: .25em;
    color: rgb(0, 0, 0);
    @include flex('flex_8');
    background-color: rgb(54, 57, 60);

    .triangle_option {
        z-index: 100;
        height: 100%;
        cursor: pointer;
        position: relative;
        border-radius: .2em;
        width: 4em !important;
        @include flex('flex_1');
        border: 1px solid rgb(23, 23, 23);

        i {
            z-index: 10;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.07);

            .triangle_op_title {
                opacity: 1;
                height: 2em;
            }
        }
    }

    .triangle_op_title {
        top: 157%;
        height: 0;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        padding: .25em 1em;
        border-radius: .5em;
        color: rgb(255, 255, 255);
        background-color: rgb(24, 28, 31);
    }

    .triangle_track {
        top: 50%;
        bottom: 50%;
        height: 83%;
        right: 5em; // .2em, 5em
        position: absolute;
        border-radius: .2em;
        width: 4em !important;
        transform: translateY(-50%);
        background-color: rgb(33, 37, 41);
    }

    .select_op {
        color: rgb(255, 255, 255);
        border: 1px solid transparent !important;
    }
}

.triangle_tutorial {
    width: 0;
    top: 4em;
    right: 7em;
    opacity: 0;
    padding: 1em;
    z-index: 100;
    overflow: hidden;
    text-wrap: nowrap;
    position: absolute;
    border-radius: 1em;
    height: auto !important;
    @include flex('flex_10');
    background-color: rgb(54, 57, 60);
}

.tuto_selected {
    color: rgb(226, 200, 0) !important;
    border: 1px solid transparent !important;
    background-color: rgb(41, 39, 32) !important;
}

.tutorial_list {
    width: 100%;
    height: 100%;
    margin: auto;
    color: rgba(255, 255, 255, 0.773) !important;

    .list_tuto_items {
        cursor: pointer;

        &:nth-child(2),
        &:nth-child(6) {
            border-radius: .5em .5em 0 0 !important;
        }

        &:nth-child(4),
        &:nth-child(8) {
            border-radius: 0 0 .5em .5em !important;
        }

        &:hover {
            background-color: rgba(255, 255, 255, 0.132) !important;
        }
    }

    li {
        padding: .5em;
        width: 100% !important;
        // pointer-events: none;

        .tuto_icon {
            font-size: 1em;
            margin-right: .5em;

            svg {
                width: 1.5em;
                height: 100%;
            }
        }

        @include flex('flex_9');

        p {
            @include space('0');
        }

        hr {
            width: 100%;
            height: 0.5em;
            margin: .5em 1em;
            @include space('p0');
        }
    }
}

.list_title {
    padding: .5em;
    margin: .25em 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.67);

    .content_icon {
        margin-right: .25em;
    }

    .content_title {
        width: 100%;
        text-align: center;
    }
}

.show_tuto {
    top: 3.5em !important;
    right: 7em !important;
    opacity: 1 !important;
    width: 15em !important;
}