@import 'mixin.scss';

html,
.settings_inputs {
    scroll-behavior: smooth !important;
}

* {
    transition: all .3s ease-in-out !important;
}

::-webkit-scrollbar {
    width: 0 !important;
    height: 0 !important;
}

::-webkit-scrollbar-button {
    width: 0 !important;
    height: 0 !important;
}

html,
main,
body {
    overflow: hidden !important;
    min-height: 100dvh !important;
    max-height: 100dvh !important;
}

body {
    overflow: hidden !important;
    @include flex('flex_1');
}

main {
    @include flex('flex_1');
}

.content_main {
    position: relative;
    @include space('0');
    width: 85em !important;
    @include flex('flex_1');
    height: 42em !important;
    min-width: 85em !important;
    max-width: 85em !important;
    overflow: hidden !important;
    min-height: 42em !important;
    max-height: 42em !important;
}

.container-fluid {
    width: 82em;
    height: 42em;
    @include flex('flex_2');
}