@mixin flex($value) {
    @if $value =='flex_1' {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
    }

    @if $value =='flex_2' {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
        flex-wrap: wrap !important;
    }

    @if $value =='flex_3' {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    @if $value =='flex_4' {
        display: flex !important;
        align-items: end !important;
        justify-content: center !important;
    }

    @if $value =='flex_5' {
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
        flex-direction: column !important;
    }

    @if $value =='flex_6' {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: wrap !important;
    }

    @if $value =='flex_7' {
        display: flex !important;
        align-items: center !important;
        justify-content: space-around !important;
    }

    @if $value =='flex_8' {
        display: flex !important;
        align-items: center !important;
        justify-content: space-between !important;
        flex-wrap: nowrap !important;
    }

    @if $value =='flex_9' {
        display: flex !important;
        align-items: center !important;
        justify-content: start !important;
    }

    @if $value =='flex_10' {
        display: flex !important;
        align-items: center !important;
        justify-content: center !important;
        flex-wrap: nowrap !important;
    }
}

@mixin space($value) {
    @if $value =='0' {
        padding: 0 !important;
        margin: 0 !important;
    }

    @if $value =='p0' {
        padding: 0 !important;
    }

    @if $value =='m0' {
        margin: 0 !important;
    }
}