@import 'mixin.scss';

.settings_stats {
    border: 0;
    width: 100% !important;
    height: 30% !important;
    @include flex('flex_6');
    border-bottom: 1px solid rgba(255, 255, 255, 0.186) !important;
}

.settings_container_icon_stats {
    width: 100%;
    height: 60%;
    overflow: hidden;
    position: relative;
    @include flex('flex_4');
}

.settings_content_icon_stats {
    width: 100%;
    height: 60px;
    overflow: hidden;
    position: relative;
    @include flex('flex_4');
}

.track,
.exclamation,
.error,
.check {
    @include flex('flex_3');
}

.stats_icon {
    opacity: 0;

    &:nth-child(1) {
        color: rgb(255, 69, 0) !important;
    }

    &:nth-child(2) {
        color: rgb(255, 0, 0) !important;
    }

    &:nth-child(3) {
        color: rgb(0, 128, 0) !important;
    }
}

.track {
    top: 0;
    position: absolute;
}

.exclamation {
    top: 0;

    .stats_icon:nth-child(1) {
        opacity: 1 !important;
    }
}

.error {
    top: -60px !important;

    .stats_icon:nth-child(2) {
        opacity: 1 !important;
    }
}

.correct {
    top: -120px !important;

    .stats_icon:nth-child(3) {
        opacity: 1 !important;
    }
}

.settings_container_text_stats {
    width: 100%;
    height: 40%;
    overflow: hidden;
    @include flex('flex_6');

    .msg_stats {
        max-width: 18em;
        overflow: hidden;
        text-wrap: nowrap;
        @include space('0');
        text-overflow: ellipsis;
    }

    .loader_write {
        margin: 0;
        margin-left: .5em;
        @include space('p0');
    }
}

.settings_content_text_stats {
    width: 100%;
    height: auto;
    @include flex('flex_1');
}

.loader_write {
    width: 23px;
    height: 23px;
    position: relative;
    display: inline-block;

    &::after,
    &::before {
        content: '';
        width: 23px;
        height: 23px;
        border-radius: 50%;
        background: rgb(255, 255, 255);
        position: absolute;
        left: 0;
        top: 0;
        box-sizing: border-box;
        animation: animloader 2s ease-in-out infinite;
    }

    &::after {
        animation-delay: 1s;
    }
}

@keyframes animloader {

    0%,
    100% {
        transform: scale(0);
        opacity: 1;
    }

    50% {
        transform: scale(1);
        opacity: 0;
    }
}

.elements_stats {
    width: 100%;
    font-weight: 500;
    text-align: center;
    font-size: 1em !important;
    color: rgba(255, 255, 255, 0.27);
}

.c_empty {
    color: rgba(255, 255, 255, 0.47);
}

.c_correct {
    color: rgba(2, 197, 8, 0.7);
}

.c_wrong {
    color: rgba(255, 0, 0, 0.7);
}

.c_important {
    color: rgba(255, 69, 0, 0.7);
}